body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f5f7fa;
}

/* NAVBAR */
nav{
    background:#1f2937;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
}

nav ul li{
    display:inline;
    margin:0 15px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:#38bdf8;
}

/* SECTIONS */
section{
    background:white;
    margin:25px auto;
    padding:30px;
    width:85%;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
    animation:fade 1s ease;
}

@keyframes fade{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

/* HOME */
#home{
    text-align:center;
}

#home h1{
    font-size:36px;
}

#home h3{
    color:#555;
}

/* BUTTON */
button{
    padding:12px 20px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#1d4ed8;
}

/* SKILLS */
ul{
    padding-left:20px;
}

/* PROJECTS */
#projects ul{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

#projects li{
    background:#f1f5f9;
    padding:15px;
    border-radius:8px;
    list-style:none;
    font-weight:500;
    transition:0.3s;
}

#projects li:hover{
    transform:scale(1.05);
    background:#e0f2fe;
}

/* INPUT */
input{
    padding:10px;
    width:220px;
    border:1px solid #ccc;
    border-radius:5px;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#1f2937;
    color:white;
}

/* RESPONSIVE */
@media(max-width:768px){
    nav{
        flex-direction:column;
    }

    nav ul li{
        display:block;
        margin:10px 0;
    }

    section{
        width:95%;
    }
}
/* PROFILE IMAGE */
.profile-img{
    width:150px;
    border-radius:50%;
    display:block;
    margin:15px auto;
    border:4px solid #2563eb;
}

/* SOCIAL */
.social{
    margin-top:15px;
}

.social a{
    margin:0 10px;
    text-decoration:none;
    font-weight:bold;
    color:#2563eb;
}

.social a:hover{
    text-decoration:underline;
}

/* SCROLL EFFECT */
html{
    scroll-behavior:smooth;
}
#about p{
    line-height:1.7;
    margin-bottom:15px;
    color:#444;
}
#certificates h3{
    margin-top:20px;
    color:#2563eb;
}

#certificates ul{
    padding-left:20px;
}

#certificates li{
    margin:8px 0;
}
#presentations a{
    color:#2563eb;
    text-decoration:none;
    font-weight:bold;
}

#presentations a:hover{
    text-decoration:underline;
}
.card{
    background:#f5f7fa;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
}

.card a{
    color:#2563eb;
    font-weight:bold;
    text-decoration:none;
}

.card a:hover{
    text-decoration:underline;
}